body{
    font-family: sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.container{
    max-width: 500px;
    margin: 0 auto;
}
.accroding-div{
    background: rgb(204, 204, 204);
    padding: 15px 20px;
    margin-top: 30px;
    border: 1px solid gray;
    border-radius: 5px;
}
.accroding-title-text{
    display: flex;
    justify-content: space-between;
}
.accroding-content{
    display: none;
    margin-top: 20px;
    position: relative;
}
.accroding-content-text{
    font-size: 18px;
}
.according-icon{
    font-size: 28px;
    font-weight: 600;
    background: rgb(0, 0, 0);
    color: #fff;
    padding: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.minus-icon{
    position: absolute;
    right: 0;
    bottom: -2px;
}
.minus-icon span{
    margin-bottom: 5px;
}

/* Tab Section */
.tabSection{
    margin-top: 50px;
}
.tabItems{
    border: 2px solid rgb(138, 21, 21);
    padding: 15px;
}
.tabLists{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: -1px;
}
.tabLists li{
    list-style: none;
    margin-right: 10px;
}
.tabLists li a{
    background: rgb(240, 240, 240);
    padding: 8px 12px;
    display: inline-block;
    border: 1px solid gray;
    color: #000000;
    border-radius: 5px 5px 0 0;
    transition: .3s;
}
.tabContents{
    border: 1px solid gray;
    padding: 10px;
}
.tabLists li a.activeTab{
    background: #fff;
    border-bottom: 1px solid #fff;
}
.tab-content{
    display: none;
}
